$bg-light: #ffffff;
$bg-light-1: rgba(#ffffff, 0.47843137383461);
$bg-light-gray: #eeeeee;
$bg-light-gray-1: #ebebeb;
$bg-lightblue: #528ff0;
$bg-red: #d74d52;
$bg-pink: rgba(#d74d52, 0.250980406999588);
$bg-pastel-red: rgba(#d74d52, 0.8117647171020508);
$bg-darkblue: #23374b;
$bg-lightblack: #333333;
$text-primary: #000000;

